* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* Extra small devices超小型设备xs (phones手机, 600px and down) 576? */

@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}


/* Small devices小型设备sm (portrait tablets纵向平板电脑 and large phones大型手机, 600px and up) */

@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}


/* Medium devices中型设备md (landscape tablets平板电脑, 768px and up) */

@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}


/* Large devices大型设备lg (laptops笔记本电脑 and desktops台式机, 992px and up) */

@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}


/* Extra large devices超大型设备xl (large laptops大型笔记本电脑 and desktops台式机, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}

/* 邮轮页面 */
/* 该页面公共按钮渐变色#f26722 0, #d54f0d 100% background-color: #292d33; */
.o-button {
  display: block;
  text-align: center;
  padding: .55rem 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #4886ff;
  outline: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
/* .o-button {
  display: block;
  text-align: center;
  padding: .55rem 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #f26722;
  background: -moz-linear-gradient(top, #f26722 0, #d54f0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f26722), color-stop(100%, #d54f0d));
  background: -webkit-linear-gradient(top, #f26722 0, #d54f0d 100%);
  background: -o-linear-gradient(top, #f26722 0, #d54f0d 100%);
  background: -ms-linear-gradient(top, #f26722 0, #d54f0d 100%);
  background: linear-gradient(to bottom, #f26722 0, #d54f0d 100%);
  outline: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
} */
.o-button:hove{
  background: #292d33;
}
/* .o-button:hover {
  background: #d54f0d;
  background: -moz-linear-gradient(top, #d54f0d 0, #f26722 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d54f0d), color-stop(100%, #f26722));
  background: -webkit-linear-gradient(top, #d54f0d 0, #f26722 100%);
  background: -o-linear-gradient(top, #d54f0d 0, #f26722 100%);
  background: -ms-linear-gradient(top, #d54f0d 0, #f26722 100%);
  background: linear-gradient(to bottom, #d54f0d 0, #f26722 100%);
  color: #fff;
  text-decoration: none;
} */

/* 邮轮页面结束 */
/* 邮轮介绍 */
.bordered {
  border: 1px solid #e1e3e4;
}

.white {
  background: #fff;
}

h1.blue-bk {
  font-size: 1.7rem;
  background: #4886ff url(https://www.moneyshow.com/cruises/img/heading-bkg.png);
  padding: 1rem;
  margin: 0 0 .8rem;
  display: block;
  color: #fff;
  position: relative;
  line-height: 1;
}

.section-blurb--lrg {
  padding: .5rem 2rem;
}

/* 邮轮介绍结束 */
/* 邮轮活动item */
.section-margin {
  margin: 2rem auto;
}

.padded {
  padding: 2rem;
}

.col-my-6 {
  text-align: inherit;
  /* width: 48.5%; */
  /* margin-left: 0;
  margin-right: 3%; */
}

.cruise-brand {
  width: 300px;
}

.c {
  background: url(https://www.moneyshow.com/img/crystal_icon.svg) right top no-repeat;
  padding: 1rem 1.5rem 1.5rem;
  text-align: right;
  color: #4886ff;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.no-space {
  margin: 0;
  padding: 0;
}

.event-block {
  margin: 1rem 0;
  position: relative;
}

.bordered {
  border: 1px solid #e1e3e4;
}

.soft-edge {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.event-block__img {
  position: relative;
}

.span-md-6 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

.event-block__img a {
  color: #4886ff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.event-block .neg-margin {
  margin-bottom: -6px;
  width: 100%;
  height: auto;
}

.event-block__content {
  padding: .5rem 1rem;
  margin: .5rem 0;
}

a.heading-size--lrg {
  font-size: 1.3rem;
  color: #4886ff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

a.heading-size--lrg:active,
a.heading-size--lrg:hover {
  outline: 0;
}

.event-block__content .hotel {
  padding: .25rem 0;
}

.event-block .date {
  border-top: 1px solid #e1e3e4;
  border-bottom: 1px solid #e1e3e4;
  padding: .5rem 1rem;
}

.no-space {
  margin: 0;
  padding: 0;
}

.section-margin strong {
  font-weight: 700;
}

.event-block .button-cont {
  padding: 1rem;
}

.rt-align {
  text-align: right;
}
.bordered h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.bordered h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.bordered p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* 邮轮活动item结束 */

/* 右栏主内容 */
.upcoming-events {
  margin-bottom: 1rem;
}

.finger-print {
  margin-bottom: .5rem;
}

.sidebar-heading {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.sb-event-block {
  background: #fff;
  border-top: 3px solid #f26722;
}

.no-mobile {
  display: inline-block;
}

.upcoming-events a {
  color: #4886ff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.sb-event-block img {
  width: 100%;
  max-height: 150px;
  height: auto;
}

.sb-event-block__content {
  padding: 0 1rem;
}

.upcoming-events .no-space {
  margin: 0;
  padding: 0;
}

.sm-font {
  font-size: .8rem;
}

.upcoming-events strong {
  font-weight: 700;
}

.sb-event-block__footer {
  margin-top: .5rem;
  background: #4886ff;
  padding: .5rem 1rem;
}

.sb-event-block__footer a {
  color: #fff;
  text-transform: uppercase;
}

/* 右栏主内容结束 */

.img-box:hover{
  transform: scale(1.1);
}
.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.q_icon_width_title.tiny .icon_text_holder{
  padding: 0px 0 0 29px;
}
.q_icon_width_title .icon_text_holder h5.icon_title{
  font-size: 16px;
  font-weight:600;
}
.q_icon_width_title .icon_text_inner p{
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: -0.3px;
  font-weight: 500;
}






[vc_row css_animation="" row_type="row" use_row_as_full_screen_section="no" type="full_width" angled_section="no" text_align="left" background_image_as_pattern="without_pattern" z_index=""][vc_column width="2/3"][qode_elements_holder number_of_columns="one_column"][qode_elements_holder_item item_padding="0px 29px 0 17px" advanced_animations="no"][vc_separator type="transparent" up="-15"][vc_column_text]
<h5>这是我的故事</h5>
<h5>[/vc_column_text][vc_empty_space height="14px"][vc_column_text]具有5年以上证券投资风险管理相关工作经验;熟悉各大证券交易所、银行间市场、期货交易所的投资和交易模式;对股票、债券、衍生品、信托、理财等常见金融投资大类,有多项比较了解;工作细致、耐心,熟练使用 office 软件。[/vc_column_text][vc_empty_space height="21px"][vc_column_text]沟通交流能力强,能主导跨部门的风险讨论;工作细致、严谨;善于学习,心态开放;拥有团队合作精神,能承担一定的工作压力。[/vc_column_text][vc_empty_space height="43px"][qode_advanced_image_gallery type="grid" enable_image_shadow="no" number_of_columns="three" space_between_items="tiny" images="623,622,621" image_size="full"][/qode_elements_holder_item][/qode_elements_holder][/vc_column][vc_column width="1/3"][qode_elements_holder number_of_columns="one_column"][qode_elements_holder_item item_padding="7px 0 0 9px" advanced_animations="no"][vc_column_text]</h5>
<h4>教育经历</h4>
<h5>[/vc_column_text][vc_empty_space height="16px"][icon_text box_type="normal" icon="fa-circle" icon_type="normal" icon_position="left" icon_size="fa-lg" use_custom_icon_size="yes" custom_icon_size="8" title="哈佛大学" title_tag="h5" separator="no" text="2004年哈佛商学院工商管理硕士" icon_color="#4886ff" title_color="#3b3f45" text_color="#7c7c7c"][icon_text box_type="normal" icon="fa-circle" icon_type="normal" icon_position="left" icon_size="fa-lg" use_custom_icon_size="yes" custom_icon_size="8" title="密歇根大学" title_tag="h5" separator="no" text="2006年BBA专业班" icon_color="#4886ff" title_color="#3b3f45" text_color="#7c7c7c"][vc_empty_space height="16px"][vc_column_text]</h5>
<h4>工作经历</h4>
<h5>[/vc_column_text][vc_empty_space height="16px"][icon_text box_type="normal" icon="fa-circle" icon_type="normal" icon_position="left" icon_size="fa-lg" use_custom_icon_size="yes" custom_icon_size="8" title="淘宝" title_tag="h5" separator="no" text="工业主管" icon_color="#4886ff" title_color="#3b3f45" text_color="#7c7c7c"][icon_text box_type="normal" icon="fa-circle" icon_type="normal" icon_position="left" icon_size="fa-lg" use_custom_icon_size="yes" custom_icon_size="8" title="自由职业" title_tag="h5" separator="no" text="投资顾问" icon_color="#4886ff" title_color="#3b3f45" text_color="#7c7c7c"][/qode_elements_holder_item][/qode_elements_holder][/vc_column][/vc_row]</h5>

