*{
    margin:0px;
    font-size:12px;
}
div.divIndex{
    width:800px;
    height:1200px;
    background-color:yellow;
    margin:0px auto;
}
div.divLogo{
    width:800px;
    height:110px;
    background-color:pink;
}
div.divNav{
    width:800px;
    height:30px;
    background-color:blue;
}