.example {
    padding: 20px;
    color: white;
}

/* Extra small devices超小型设备 (phones手机, 600px and down) 576? */
@media only screen and (max-width: 600px) {
    .example {
        background: red;
    }
}

/* Small devices小型设备 (portrait tablets纵向平板电脑 and large phones大型手机, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

/* Medium devices中型设备 (landscape tablets平板电脑, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

/* Large devices大型设备 (laptops笔记本电脑 and desktops台式机, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices超大型设备 (large laptops大型笔记本电脑 and desktops台式机, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}

* {
    box-sizing: border-box;
}

.header {
    border: 1px solid red;
    padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}